body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#questionnaire {
    width: 50%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

input[type=number] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: calc(100% - 22px);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

#progress {
    margin-bottom: 20px;
    font-size: 20px;
    color: #555;
}

.back-button {
    position: fixed; /* Fixed position to keep it at the top-left corner */
    top: 5px;
    left: 20px;
    font-size: 50px; /* Adjust the size as needed */
    text-decoration: none; /* Remove default link underline */
    color: #a1e0fb; /* Button color */
    padding: 10px; /* Add padding for better clickability */
    transition: transform 0.3s ease; /* Add transition effect */
    z-index: 9999;
}
